*{ margin: 0;
    padding: 0;
    box-sizing: 0;
 }

 .container{
    width: 80%;
    margin: 0 auto;
}

.fundo_img_medico{
    background-image: url("../Imagens/FundoLista\ 2.png");
    height: 477px ;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards-style{
    display: flex;
    /* width: 80vw; */
    flex-wrap: wrap;
    padding-bottom: 80px;
}